.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 0 0 105px;
    margin-top: 120px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}